
// Colors
$primary: #1d5894;
$secondary: #dddddd;
$darkblue: #166d71;
$danger: #ca3727;

$white: #efefef;
$white-transparent: rgba(255,255,255,0.75);
$black: #1b1b1b;

$success: #3c8c3c;
$info: $primary;
$error: #a02323;

// Shadows
$box-shadow-1: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
$box-shadow-inset-1: 0 1px 3px 1px rgba(119, 120, 132, 0.25) inset;

$foundation-palette: (
	$primary: #1d5894,
	$secondary: #dddddd,
	$darkblue: #166d71,
	$danger: #ca3727
);

.red {
	color: $danger
}

.blue {
	color: $darkblue
}
