.button {
	box-shadow: $shadow-2;
	transition: 400ms;
	margin: 0 0 1rem;
	padding: 0.35rem 1rem;
	font-size: 1rem;
	transition: background 250ms, color 250ms;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border: 2px solid $primary-600;
	border-radius: 4px;
	color: $white;
	background: transparentize($primary-500, .1);
	box-shadow: 0 1px 1px 1px rgba(43,43,43,0.58);

	.fa {
		margin-right: .5rem;
	}

	&:active {
		box-shadow: $shadow-1;
	}

	&:hover {
		background: transparentize(lighten($primary-500, 5%), .1);
	}

	&:active,
	&:focus {
		background: transparentize(lighten($primary-500, 3%), .1);
		outline: none;
	}

	&.small {
		font-size: .8rem;
		max-width: 7rem;
	}
	&.medium {
		max-width: 14rem;
	}
	&.large {
		max-width: 20rem;
	}

	@each $name, $color in $foundation-palette {
		@if (type-of($color) == 'color') {
			&.#{$name} {
				background: $color;
				color: $white;
				border: 2px solid darken($color, 3%);

				&.small {
					max-width: 7rem;
				}
				&.medium {
					max-width: 14rem;
				}
				&.large {
					max-width: 20rem;
				}

				&:hover {
					background: transparentize(lighten($color, 3%), .1);
					color: $white;
				}

				&:active,
				&:focus {
					background: transparentize(lighten($color, 1%), .1);
				}

				&.disabled,
				&:disabled {
					background: transparentize($color, 0.01);
					cursor: disabled;
				}
			}
		}
	}

	&.white {
		color: $primary-500;
		border: 2px solid $primary-600;

		&:hover {
			color: $primary-500;
		}
	}

	&.collapse {
		padding: 0.35rem 1rem;
		margin-bottom: 0;
	}
}

.text-right {
	.button {
		margin: 0 0 0 5px;
	}
}

.text-left {
	.button {
		margin: 0 5px 0 0;
	}
}

.action-buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	.action {
		padding: 0 0.1rem;

		.fa {
			height: 38px;
			width: 38px;
			border: 2px solid $primary-500;
			margin: 0 5px;
			padding: 8px;
			border-radius: 50%;
			color: $primary-500;
			display: flex;
			justify-content: center;
			align-items: center;

			&:hover {
				background: $primary-500;
				color: $white;
			}
		}
	}
}
