// Top

header {
	height: 59px;
	top: 0;
	margin: 0;
	padding: 0;
	background: url("../images/BC_Web_TopBar.png") repeat-x scroll 0 0 transparent;
	font-size: 1.2rem;
	line-height: 16rem;
	box-shadow: $shadow-3;
	position: fixed;
	width: 100%;
	z-index: 100;

	.nav {
		height: 51px;
		display: flex;

		.login-menu-mobile {
			display: none;
			height: 51px;
			min-width: 104px;
			justify-content: center;
			align-items: center;
			position: absolute;
			right: 0;
			padding: 0;
			margin: 0;
			flex-direction: row;
  	  margin: 0 7px;

			.login-link {
				a {
					display: flex;
					justify-content: center;
					align-items: center;
					border: 2px solid #124476;
					font-size: 1.1rem;
					width: 90px;
					height: 33px;
					border-radius: 4px;
					color: $white;
					background: rgba(18, 68, 118, 0.7);
					box-shadow: 0 1px 1px 1px rgba(43, 43, 43, 0.71);
				}
			}
		}

		.home-link,
		.menu-toggle {
			color: $white;
			text-transform: uppercase;
			display: flex;
			padding: 0;
			margin: 0;
			flex-direction: row;
			align-items: center;

			a,
			i {
				color: $white;
				z-index: 100;
				display: block;
		    width: 28px;
		    height: 100%;
		    margin: 0 auto 10px 18px;
		    padding-top: 23px;

				&.on {
					span {
						background-color: transparent;
    				box-shadow: none;

						&::before {
							transform: rotate(45deg) translate(5px, 5px);
						}
						&::after {
							transform: rotate(-45deg) translate(7px, -8px);
						}
					}

					&:hover {
						cursor: pointer;

						span {
							box-shadow: none;
						}
					}
				}

				span {
					position: relative;
					float: left;
				  width: 100%;
				  height: 5px;
				  background-color: white;
				  -webkit-transition: all 0.3s;
				  transition: all 0.3s;
				  -webkit-backface-visibility: hidden;
				  border-radius: 2px;
				  box-shadow: 0 0 3px 1px #F9E778;

					&::after,
					&::before {
						float: left;
					  width: 100%;
					  height: 5px;
					  background-color: white;
					  -webkit-transition: all 0.3s;
					  transition: all 0.3s;
					  -webkit-backface-visibility: hidden;
					  border-radius: 2px;
					  box-shadow: 0 0 3px 1px #F9E778;
						content: "";
						position: absolute;
						left: 0;
						top: 9px;
					}

					&::before {
						top: -9px;
					}

					&::after {
						top: 9px;
					}

				}

				&:hover {
					cursor: pointer;

					span,
					span::before,
					span::after {
						box-shadow: 0 0 3px 1px transparentize(#F9E778, .2);
					}
				}
			}
		}

		.menu-toggle {
			display: none;
			line-height: 1rem;
			justify-content: center;
			z-index: 100;

			&:hover {
				cursor: pointer;
				opacity: 0.9;
			}
		}

		.animation-wrapper {
			display: flex;
			flex-grow: 1;
			z-index: 90;

			.mobile-menu-group {
				display: none;
			}

			.menu-group,
			.mobile-menu-group {
				display: flex;
				flex-grow: 1;
				z-index: 90;

				.main-menu {
					margin-top: 4px;
					flex-grow: 1;
					justify-content: center;
				}

				.login-menu {
					height: 51px;
					justify-content: flex-end;
					position: absolute;
					right: 0;
					display: flex;
					padding: 0;
					margin: 0;
					flex-direction: row;
					align-items: center;
				}

				.main-menu {
					display: flex;
					padding: 0;
					margin: 0;
					flex-direction: row;
					align-items: center;

					li {
						padding: 0;
						list-style-type: none;
						height: 100%;
						text-transform: uppercase;
						position: relative;
						min-width: 104px;
						padding: 0;
						border-radius: 0;
						text-align: center;
						list-style-type: none;
						display: flex;
						justify-content: center;
						align-items: center;
						transition: all 0.1s;
						margin: 0 7px;

						&.home {
							background: url('../images/buttons/Btn_HOME.png') 0 no-repeat;
						}

						&.news {
							background: url('../images/buttons/Btn_NEWS.png') 0 no-repeat;
						}

						&.ranking {
							background: url('../images/buttons/Btn_RANKING.png') 0 no-repeat;
						}

						&.players {
							background: url('../images/buttons/Btn_PLAYERS.png') 0 no-repeat;
						}

						&.store {
							background: url('../images/buttons/Btn_STORE.png') 0 no-repeat;
						}

						a {
							width: 140px;
							height: 35px;
							position: relative;
							display: table-cell;
							vertical-align: middle;
							transition: box-shadow 100ms cubic-bezier(0.485, 0.155, 0.24, 1.245);
							box-shadow: 0 0 1px 2px rgba(161, 176, 210, 0.37);
							color: transparent;

							&:active {
								box-shadow: 0 0 1px 2px rgba(90, 90, 90, 0.37);
							}
						}
					}

					.active {
						a {
							transition: all 500ms;
							color: #2199e8;
							background: transparent;
							text-decoration: underline;
						}
					}
				}

				.login-menu {
					.login-link {
						padding: 0;
						list-style-type: none;
						height: 100%;
						text-transform: uppercase;
						position: relative;
						min-width: 104px;
						padding: 0;
						border-radius: 0;
						text-align: center;
						list-style-type: none;
						display: flex;
						justify-content: center;
						align-items: center;
						transition: all 0.1s;
						margin: 0 7px;

						.menu-link {
							display: flex;
							justify-content: center;
							align-items: center;
							border: 2px solid #124476;
							font-size: 1.1rem;
							width: 90px;
							height: 33px;
							border-radius: 4px;
							color: $white;
							background: rgba(18, 68, 118, 0.7);
							box-shadow: 0 1px 1px 1px rgba(43, 43, 43, 0.71);
						}
					}

				}
			}
		}

		.menu-backdrop {
			display: none;
			position: fixed;
			background: transparent;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 20;

			&.show {
				display: block;
			}
		}
	}
}

.logo-banner {
	position: relative;
	top: -0.625rem;
	min-height: 200px;
	width: 100%;
	min-width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

	background: url(../images/BC_Web_NavBar.png) no-repeat scroll center center/1192px transparent;

	.logo {
		margin-top: 4.3125rem;
	}

	.mobile-logo {
		display: none;
	}
}

// Media Query
@media screen and (max-width: 1020px) {
	header {
		.nav {
			.home-link {
				flex-grow: 1;
			}

			.login-menu-mobile {
				display: flex;
			}

			.menu-toggle {
				display: inline;
			}

			.animation-wrapper {
				position: absolute;

				.menu-group {
					display: none;
				}

				.mobile-menu-group {
					display: block;
					height: 100%;
					width: 100%;
					position: fixed;
					top: 59px;
					background: url('/images/Honeycomb_Default.png') repeat;
					box-shadow: $shadow-3;

					.login-menu {
						display: none;
					}

					.main-menu {
						display: flex;
						flex-direction: column;
						justify-content: center;

						a,
						li {
							width: 100%;
						}

						li {
							a {
								color: $white;
								box-shadow: none;
								width: 100%;
								display: flex;
								flex-direction: column;
								justify-content: center;
								height: 3rem;
								font-size: 1.4rem;
								letter-spacing: .3rem;
								text-shadow: $shadow-3;
								position: relative;

								&:hover{
									&::before {
										content: '\f197';
										font-family: 'FontAwesome';
										position: absolute;
								    left: 1%;
								    font-size: 1.4rem;
										transition: left 200ms cubic-bezier(0.485, 0.155, 0.24, 1.245);
									}
									&:active {
										&::before {
									    left: unquote(calc(100% - 2.8rem));
										}
									}
								}

								&.active,
								&:active {
									background: transparentize(black, .5);
								}
							}

							&:first-child {
								a {
									&.active {
										background: transparent;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
@media screen and (min-width: 1020px) {
	header {
		.nav {
			.animation-wrapper {
				.mobile-menu-group {
					display: none;
				}
			}
		}
	}
}
@include breakpoint (small only) {
	.logo-banner {
		top: -2.625rem;

		.logo {
			margin-top: 6.25rem;
		}

		.mobile-logo {
			display: none;
		}
	}
}
