// Text
.text-small {
	font-size: 80%;
}

.text-upper {
	text-transform: uppercase !important;
}

.text-bold {
	font-weight: 700 !important;
}

.underline {
	text-decoration: underline;
}

a {
	&.underline {
		text-decoration: underline;
	}

	&:hover {
		text-decoration: none;
	}
}
ul {
	&.no-bullets {
		list-style: none;
		display: block;
		margin: 0;
		padding: 0;
	}
}



p{
	&.indent {
		&:before {
			content: 'eeeee';
			color: rgba(255, 255, 255, 0);
		}
	}
}

.right {
	float: right;
}
.center {
	margin: 0 auto;
}
.left {
	float: left;
}

// Images
.image-tiny {
	max-width: 25px;
}
.image-mini {
	max-width: 50px;
}
.image-small {
	max-width: 150px;
}

// Collapse
.collapse {
	padding: 0;
}

.collapse-margin {
	margin: 0;
}

// Miscellaneous
.pointer {
	cursor: pointer;
}
.wrap-reverse {
	@include breakpoint(small only) {
		display: flex;
		flex-direction: row;
	  flex-wrap: wrap-reverse;
	}
}

// Foundation overrides
.column:last-child:not(:first-child),
.columns:last-child:not(:first-child) {
    float: left;
}

@media screen and (min-width: 481px) {
	.collapse-large {
		padding: 0 !important;
	}
}

@media screen and (max-width: 640px) {
	.collapse-small {
		padding: 0;
	}
}

.column-filler {
	min-height: 1px;
}

// Margins
// push-top, push-right, push-bottom, push-left
$sides: 'top', 'right', 'bottom', 'left';
@each $side in $sides {
	.push-#{$side} {
		margin-#{$side}: 10px !important;
		@for $i from 2 through 10 {
			&-#{$i}x {
				margin-#{$side}: #{$i}0px !important;
			}
		}
	}
}

// Margins
// drag-top, drag-bottom, drag-left, drag-right
@each $side in $sides {
	.drag-#{$side} {
		margin-#{$side}: -5px !important;
		@for $i from 2 through 10 {
			&-#{$i}x {
				margin-#{$side}: -#{$i}0px !important;
			}
		}
	}
}
