.news-post {
	padding: .625rem;
  margin: .5rem 1rem;
  float: left;
  border-radius: 7px;
  background: rgba(11,74,113,0.16);
  box-shadow: 0 1px 5px rgba(0,0,0,0.72);
	min-width: unquote(calc(100% - 2rem));

	img {
		float: left;
		margin:  0 .625rem .625rem .625rem;
		box-shadow: 0 1px 5px rgba(0,0,0,0.5) inset;
		max-width: 250px;
		width: unquote(calc(100% - 1.25rem));
	}
}

@include breakpoint(small only) {
	.news-post {
		margin: 0 0 1rem 0;

		img {
			margin: 0 .5rem .5rem .5rem;
			width: unquote(calc(100% - 1rem));
			max-width: 320px;
		}
	}
}
