.player-profile,
.player-dashboard {
	.username {
		text-transform: initial;
		color: gold;
		text-shadow: 1px 1px 5px $black;
	}

	.editable {

	}

	.friend-list {
		display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

		.icon-box {
			position: relative;

			&:hover {
				.name-label {
					color: $white-500;
					background: transparentize($black, .25);
				}
			}
			.icon {
				width: 90px;
				height: 90px;
				box-shadow: $shadow-1;
			}
			.name-label {
				position: absolute;
		    width: 100%;
		    left: 0;
		    bottom: 0;
		    background: transparentize($black, .5);
		    text-align: center;
		    color: $white-900;
		    padding: 2px;
		    white-space: nowrap;
		    text-overflow: ellipsis;
		    overflow: hidden;
		    font-weight: 800;
		    font-size: .8rem;
		    line-height: 17px;
				transition: background 150ms, color 150ms;
			}
		}
	}

	.photo-stream {
		display: flex;
    flex-wrap: wrap;

		.photo-box {
			flex: 1;
			max-width: 300px;

			&:hover {
				cursor: pointer;
			}
		}

		.panel-content {
			.actions {
				.fa-arrow-left,
				.fa-arrow-right {
					text-shadow: $shadow-3;
				}

				.fa-arrow-left {
					position: absolute;
					left: 1rem;

					&:hover {
						cursor: pointer;
					}
				}
				.fa-arrow-right {
					position: absolute;
					right: 1rem;

					&:hover {
						cursor: pointer;
					}
				}
			}
		}

		.panel-footer {
			.button {
				border: none;
				box-shadow: none;
				color: $alert-500;
				background: transparent;

				&:hover {
					background: transparent;
				}
			}
		}
	}
}

.player-profile {
	.user-bio {

	}
	.social-links {
		.fa {
			font-size: 38px;
		}
	}

	.profile-picture {
		position: relative;
		max-width: 220px;
		max-height: 220px;
		margin: 0 auto;
	}
}

.player-dashboard {
	.profile-picture {
		position: relative;
		max-width: 220px;
		max-height: 220px;
		margin: 0 auto;

		.upload-container {
			margin: 0;
			position: absolute;
			top: 0px;
			left: 0;
			right: 0;
			bottom: 0;

			.file-upload {
				height: 100%;
				padding: 0;
				margin: 0;
				border: none;
				color: transparent;

				label {
					color: transparent;
					transition: background 200ms ease;

					&:hover {
						background: rgba(0, 0, 0, 0.1);

						&:after {
							font-family: 'FontAwesome';
							display: flex;
							justify-content: center;
							align-items: center;
							content: '\f055';
							color: $white;
							font-size: 4rem;
							position: absolute;
							top: 0;
							left: 0;
							bottom: 0;
							right: 0;
							text-shadow: $shadow-1;
							transition: text-shadow 100ms;

							&:active {
								text-shadow: none;
							}
						}
					}
				}
			}
		}
	}

	.account-details {
		margin-bottom: 1rem;
	}

	.notification {
		.container {
			position: relative;
			padding: .75rem 1.75rem .75rem .75rem;

			.fa-times {
				position: absolute;
				right: .75rem;

				&:hover {
					cursor: pointer;
					opacity: .9;
				}
			}
		}
	}
}
