.player-profile,
.player-dashboard {
	.editable {

	}

	.friend-list {
		display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

		.icon-box {
			position: relative;

			&:hover {
				.name-label {
					color: $white-500;
					background: transparentize($black, .25);
				}
			}
			.icon {
				width: 90px;
				height: 90px;
				box-shadow: $shadow-1;
			}
			.name-label {
				position: absolute;
		    width: 100%;
		    left: 0;
		    bottom: 0;
		    background: transparentize($black, .5);
		    text-align: center;
		    color: $white-900;
		    padding: 2px;
		    white-space: nowrap;
		    text-overflow: ellipsis;
		    overflow: hidden;
		    font-weight: 800;
		    font-size: .8rem;
		    line-height: 17px;
				transition: background 150ms, color 150ms;
			}
		}
	}

	.username {
		text-transform: initial;
		color: gold;
		text-shadow: 1px 1px 5px $black;
	}
}

.player-profile {
	.user-bio {

	}
	.social-links {
		.fa {
			font-size: 38px;
		}
	}

	.profile-picture {
		width: 220px;
	}
}

.player-dashboard {
	.account-details {
		margin: 0 .65rem 1rem;
	}
}
