.product-listing {
	.products-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;

		.product-box {
			float: left;
			border: 2px solid $white;
			background: white;
			box-sizing: border-box;
			width: 100%;
			max-width: 31%;
			margin-bottom: 3%;
			box-shadow: $shadow-1;

			.flip-container {
				width: 100%;
				height: 400px;
				display: flex;
				flex-direction: column;
				align-items: center;

				.flipper {
					transition: .6s;
					transform-style: preserve-3d;
					position: relative;
					display: flex;
			    flex-direction: column;
			    align-items: center;
			    justify-content: center;
			    width: 100%;
			    flex: 1;

					.front,
					.back {
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						backface-visibility: hidden;
						transform-style: preserve-3d;
						transition: .6s;
						width: 100%;
						max-height: 100%;
						overflow: hidden;
					}

					.front {
						z-index: 2;
						transform: rotateY(0deg);
					}

					.back {
						transform: rotateY(-180deg);
					}
				}
			}

			&:hover {
				.front {
					transform: rotateY(180deg) !important;
					z-index: 1;
				}

				.back {
					transform: rotateY(0deg) !important;
					z-index: 2;
					cursor: pointer;
				}
			}

			.product-details {
				display: flex;
    		flex-direction: column;

				.actions {
					width: 100%;
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					box-sizing: border-box;

					&.in-cart {
						border-bottom: 3px solid $secondary-200;
					}

					.button {
						width: 49%;
						font-size: .875rem;
						white-space: nowrap;
					}
				}
			}
		}
	}
}

.product-details {
	.actions {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		box-sizing: border-box;

		&.in-cart {
			border-bottom: 3px solid $secondary-200;
		}

		.button {
			width: 49%;
			font-size: .875rem;
			white-space: nowrap;
		}
	}
}

@include breakpoint(medium down) {
	.product-listing {
		.products-container {
			.product-box {
				max-width: 48%;
			}
		}
	}
}

@include breakpoint(small only) {
	.product-listing {
		.products-container {
			.product-box {
				max-width: 48%;
			}
		}
	}
}

@media screen and (max-width: 520px) {
	.product-listing {
		.products-container {
			.product-box {
				max-width: 100%;

				.flip-container {
					height: 700px;
				}
			}
		}
	}
}

@media screen and (max-width: 480px) {
	.product-listing {
		.products-container {
			.product-box {
				max-width: 100%;

				.flip-container {
					height: 500px;
				}
			}
		}
	}
}

@media screen and (max-width: 380px) {
	.product-listing {
		.products-container {
			.product-box {
				max-width: 100%;

				.flip-container {
					height: 360px;
				}
			}
		}
	}
}
