table {
	border-collapse: collapse;

	thead, tbody {
		background: transparent;
		border: none;
	}

	thead {
		tr {
			&:first-child {
				th {
					background-color: transparentize($white, .85);
					padding: inherit;
					padding-bottom: .1rem;
					border-bottom: 1px solid transparentize($black, .85);
				}
			}
		}
	}

	tbody {
		td {
			padding: inherit;

			strong {
				display: none;
			}

			&.action-items {
				display: flex;
				flex-direction: row;
				justify-content: center;

				.action-item {
					.action {
						display: flex;
						justify-content: center;
						align-items: center;
						width: 1.5rem;
						height: 1.5rem;
						color: $black;
						border: 2px solid $black;
						border-radius: .75rem;
						font-size: .75rem;
						margin: .25rem;

						&:hover {
							background: $black;
							color: $white;
							cursor: pointer;
						}
					}

					.mobile-text {
						display: none;
					}
				}
			}
		}

		tr {
			td {
				line-height: 2rem;
			}
			&:nth-child(odd) {
				background-color: transparent;
			}
			&:nth-child(even) {
				background-color: transparentize($white, .85);
			}
		}
	}

	&.hover{
		&:not(.unstriped) {
			tr:nth-of-type(even) {
				&:hover {
				  background-color: transparentize($white, .75);
				}
			}
		}

		tbody,
		thead {
			tr {
				&:hover {
					background-color: transparentize($white, .75);
				}
			}
		}

	}
}

@include breakpoint(medium down) {
	table {
		thead {
			tr {
				&:first-child {
					th {
						border-bottom: none;
					}
				}
			}
		}

		tbody {
			td {
				strong {
					display: inline;
				}
			}
		}
	}
}

@include breakpoint (small only) {
	table {

		thead, tbody {
		}

		thead {
			tr {
				&:first-child {
					th {
					}
				}
			}
		}

		tbody {
			td {
				strong {
					display: inline;
				}
			}
		}
	}
}
