@charset "utf-8";
#GameDetail   {
	width: 95%;
}
.PlayerGameDetail {
	background-image: url(http://www.testbattlecomm.com/images/BC_App_9tile_C.png);
	text-align: left;
	position: relative;
	margin-top: 10px;
	float: left;
}
#TOAdminNav {
	float: right;
}
#folderNav {
	display: inline;
}
.frame_center.col #PlayerNav a {
    color: #177F82;
    text-decoration: underline;
    text-shadow: 1px 1px black;
}
.frame_center.col #PlayerNav a:hover {
	color: white;	
}
.customizedPageTitle   {
	padding-top: 25px;
}
