[user]
	name = Zack Anselm
	email = zanselm5@gmail.com
[core]
	autocrlf = input
	safecrlf = false
   whitespace = "trailing-space,space-before-tab,indent-with-non-tab,cr-at-eol"
	excludesfile = /Users/zanselm/.gitignore
[help]
   autocorrect = 1
[alias]
    lga = log --oneline --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
    dm = diff --minimal --
    dms = diff --minimal --staged
    pod = pull origin develop
    pud = push origin develop
    cm = commit -m
    cam = commit -am
    dammit = commit --amend
    s = status
    rd = rebase develop
	ch = checkout

[push]
   default = simple
