@mixin loader-bars {
	.loader {
		position: relative;
		top: 50%;
		left: 50%;
		margin-left: -22px;
		margin-top: -18px;
		width: 45px;
		height: 40px;

		& > div {
			background-color: $secondary-200;
			width: 5px;
			height: 100%;
			margin-right: 3px;
			display: inline-block;
			animation-fill-mode: both;
			animation: loader-bars 1.2s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
		}

		& > div:nth-child(1) {
			animation-delay: 0.1s;
		}

		& > div:nth-child(2) {
			animation-delay: 0.4s;
		}

		& > div:nth-child(3) {
			animation-delay: 0.2s;
		}

		& > div:nth-child(4) {
			animation-delay: 0.5s;
		}

		& > div:nth-child(5) {
			animation-delay: 0.3s;
		}
	}
}
