<hr>
<div class="full_width admin-nav">
	<div class="four_column_1 text-center">
		<button class="btn" ui-sref="orderList"><span class="fa fa-credit-card"></span> RP Store: Orders</button>
	</div>
	<div class="four_column_1 text-center">
		<button class="btn" ui-sref="productList"><span class="fa fa-list"></span> RP Store: Products</button>
	</div>
	<div class="four_column_1 text-center">
		<button class="btn" ui-sref="newsList"><span class="fa fa-tasks"></span> News</button>
	</div>
	<div class="four_column_1 text-center">
		<button class="btn" ui-sref="playerList"><span class="fa fa-user"></span> Players</button>
	</div>
	<div class="four_column_1 text-center">
		<button class="btn" ui-sref="manufacturerList"><span class="fa fa-industry"></span> Manufacturers</button>
	</div>
	<div class="four_column_1 text-center">
		<button class="btn" ui-sref="gameSystemList"><span class="fa fa-cog"></span> Game Systems</button>
	</div>
</div>
<hr>
