<div class="chat-box" ng-class="{active: showChat}">
	<span ng-click="toggleChat()" class="fa fa-users"></span>
	<div class="clickaway-backdrop" ng-click="toggleChat()" ng-if="showChat"></div>
	<div class="box" ng-if="showChat">
		<div class="header">Battle-Comm: General Chat</div>
		<div class="messages" id="messages">
			<div class="message" ng-repeat="message in messages">
				<span class="username" ng-class="{red: $index%2 === 0, blue: $index%2 !== 0}">
					{{message.username}} ({{message.time}}):
				</span> {{message.text}}
			</div>
		</div>
		<form class="send" ng-submit="sendMessage()">
			<input name="newMessage" type="text" id="newMessage" ng-maxlength="300" required/>
			<button type="submit" class="button button-primary" ng-disabled="newMessage.$invalid">Send</button>
		</form>
	</div>
</div>
