#dmxBoxWrapper {
	position : absolute;
	top      : expression(eval(document.documentElement.scrollTop   || document.body.scrollTop   ));
	height   : expression(eval(document.documentElement.clientHeight|| document.body.clientHeight));
	width    : expression(eval(document.documentElement.clientWidth || document.body.clientWidth ));
  left     : expression(eval(document.documentElement.scrollLeft  || document.body.scrollLeft  ));
}

