/* ---------------------  MAIN QUERIES  ------------------ */
/* Portrait and Landscape */
@media only screen and (max-width: 380px) {
    .mids {
        margin: 64px auto 0;
    }
    .copyright {
        font-size: 0.7em;
    }
}
@media only screen and (max-width: 480px) and (min-width: 380px) {
    .mids {
        margin: 81px auto 0;
    }
}
@media only screen and (max-width: 480px) {
    .logo {
        display: none;
    }
    .mobile-logo {
        display: block;
        position: relative;
        width: 100%;
        height: auto;
        top: 0;
        margin: 0 auto;
    }
    .mobile-buttons {
        display: block;
        position: relative;
        width: 100%;
        height: auto;
        margin: calc(-104% / 10) 0 0 0;
        padding-bottom: 27%;
    }
    .my-profile-button {
        float: left;
        width: 50%;
        padding-bottom: 10%;
        position: relative;
        display: block;
    }
    .create-match-button {
        float: left;
        width: 50%;
        padding-bottom: 10%;
        position: relative;
        display: block;
    }
    .site_bg {
        top: 58px;
        background: url("../images/BC_Web_BG.png") no-repeat scroll center top / 190% auto transparent;
    }
    .header.row {
        min-height: 115px;
        background-size: 0;
    }
    .nav.placeholder {
        display: none;
    }
    #PlayerNav {
        text-align: center;
    }
	.mids {
		max-width: 100vw;
	}
    .header.row {
        top: 58px;
    }
    .header_mobile.row {
        background-size: 80px;
        display: block;
    }
    .body.row {
        top: 110px;
    }
    .left_content.col {
        display: none;
    }
    .uppernav {
        display: none;
    }
    .mobilenav {
        display: block;
    }
    a.menu-link {
        display: block;
        background-size: 100% 100%;
        position: relative;
        z-index: 5;
        width: 100%;
        margin: -50px auto 0;
        padding: 3% 0 2%;
        font-size: 1.5em;
        transition: all 0.3s ease-out;
    }
    a.menu-link {
        display: block;
        background-size: 100% 100%;
        position: relative;
        z-index: 5;
        width: 100%;
        margin: -50px auto 0;
        padding: 3% 0 2%;
        font-size: 1.5em;
        transition: all 0.3s ease-out;
    }
    a.menu-link.active {
        margin-bottom: 0;
    }
    #toggle.off + #menu {
        visibility: hidden;
        left: -100%;
    }
    #toggle.on + #menu {
        visibility: visible;
        left: 0;
        animation: flyin 0.5s cubic-bezier(0.430, 0.135, 0.215, 0.935);
    }
    /* menu appearance*/
    #menu {
        position: fixed;
        color: #999;
        height: 100%;
        width: 98%;
        padding: 1%;
        margin: auto;
        float: left;
        left: -100%;
        text-align: center;
        visibility: visible;
        opacity: 1;
        top: 59px;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.68);
        background: url('../images/Honeycomb_Default.png') repeat;
        border-bottom: 4px solid rgba(0, 0, 0, 0.72);
    }
    .mobilenav .topnav {
        position: relative;
        z-index: 5;
        text-align: left;
        margin-top: 10px;
    }
    .frame_u.row {
        height: 9px;
    }
    .full_content.col,
    .half_content_left.col,
    .half_content_right.col,
    .quarter_content.col {
        min-height: 0;
        margin-bottom: 24px;
    }
    .frame_ul_corner.col {
        background: transparent url("../images/BC_Web_WindowUL.png") no-repeat scroll left top / 100% auto;
        top: -24px;
        min-width: 15px;
        max-width: 15px;
        height: 9px;
    }
    .frame_ur_corner.col {
        background: transparent url("../images/BC_Web_WindowUR.png") no-repeat scroll left top / 100% auto;
        top: -24px;
        right: 0;
        min-width: 15px;
        max-width: 15px;
        height: 9px;
    }
    .frame_u_bar_full.col,
    .frame_u_bar_half.col,
    .frame_u_bar_quarter.col,
    .frame_u_bar_threequarter.col {
        height: 7px;
        width: 98%;
        background: transparent url("../images/BC_Web_WindowU.png") repeat-x scroll 0 center / 0.5% auto;
        top: -22px;
        position: absolute;
        right: 1%;
    }
    .frame_content.row {
        height: 100%;
        top: -25px;
    }
    .frame_l_bar.col {
        height: 100%;
        background: url('../images/BC_Web_WindowL.png') left repeat-y;
        background-size: 100%;
        min-width: 7px;
        max-width: 7px;
    }
    .frame_center.col {
        height: 100%;
        width: calc(100% - 34px);
        color: black;
        padding: 15px 10px;
        background: url('../images/BC_App_9tile_C.png') top left repeat;
        text-align: left;
        float: left;
        left: 7px;
    }
    .frame_center_panel.col {
        height: 100%;
        width: calc(100% - 15px);
        color: black;
        padding: 0;
        background: url('../images/BC_App_9tile_C.png') top left repeat;
        text-align: left;
        float: left;
        left: 7px;
    }
    .frame_r_bar.col {
        height: 100%;
        left: calc(100% - 7px);
        background: url('../images/BC_Web_WindowR.png') left repeat-y;
        background-size: 100%;
        min-width: 7px;
        max-width: 7px;
    }
    .frame_b.row {
        height: 9px;
        min-width: 100%;
        max-width: 100%;
        top: -51px;
    }
    .frame_b_bar_full.col,
    .frame_b_bar_half.col,
    .frame_b_bar_quarter.col,
    .frame_b_bar_threequarter.col {
        height: 7px;
        width: calc(100% - 14px);
        right: 7px;
        background: url('../images/BC_Web_WindowB.png') 0 repeat-x;
        background-size: 0.5%;
        z-index: -2;
        top: 25px;
        position: absolute;
    }
    .frame_bl_corner.col {
        height: 9px;
        min-width: 15px;
        max-width: 15px;
        top: 25px;
        background: url('../images/BC_Web_WindowBL.png') bottom left no-repeat;
        background-size: 100%;
    }
    .frame_br_corner.col {
        height: 9px;
        min-width: 15px;
        max-width: 15px;
        right: 0;
        top: 25px;
        background: url('../images/BC_Web_WindowBR.png') bottom left no-repeat;
        background-size: 100%;
    }
    .site-footer h3 {
        margin: 10px 0;
        font-size: 0.9em;
    }
    .two_column_1 {
        width: 96%;
        padding: 2%;
        text-align: center;
    }
    .three_column_1 {
        width: 96%;
        padding: 2%;
        text-align: center;
    }
    .three_column_2 {
        width: 96%;
        padding: 2%;
        text-align: center;
    }
    .four_column_1 {
        width: 96%;
        padding: 2%;
        text-align: center;
    }
    .title_large {
        margin: -10% 0 0;
    }
    .title_small {
        margin: -9% 0 0;
    }
    .home_slide_small {
        margin-bottom: 72px;
    }
    .subfooter {
        width: 96%;
        padding: 2%;
        text-align: center;
    }
    .homepage_slideshow2 {
        margin-top: -70px;
        margin-bottom: 44px;
    }
    h2#phoneOnly {
        float: left;
        width: calc(100% - 12px);
        margin: 3% 0 0;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #phoneOnly {
		height: 100%;
		color: white;
		text-align: left;
		display: flex;
		align-items: center;
		padding-left: 2%;
		border: 1px solid #177F82;
		background: rgba(31,89,123,0.6);
		box-sizing: border-box;
    }
    #phoneOnly:active,
    #phoneOnly:hover {
        color: #29EA42;
    }
	.mobilenav {
		li {
			&.events,
		    &.home,
		    &.login,
		    &.news,
			&.store,
		    &.registertab,
			&.ranking {
				height: 48px;
				width: 94%;
				background: none;
				padding: 1.5%;
				margin: 0;
				box-shadow: none;

				a {
					font-size: 20px;
				}
		    }
		}
	}

    .topnav li a {
        float: left;
        width: 100%;
        padding: 0;
    }
}
@media only screen and (min-width: 481px) and (max-width: 699px) {
    .logo {
        display: none;
    }
    .mobile-logo {
        display: block;
        position: relative;
        width: 480px;
        height: 95px;
        top: 0;
        margin: 0 auto;
    }
    .mobile-buttons {
        display: block;
        position: relative;
        width: 480px;
        height: 95px;
        top: -47px;
        margin: 0 auto;
    }
    .site_bg {
        min-width: 100%;
        background: url("../images/BC_Web_BG.png") no-repeat scroll center top / auto transparent;
        height: 484px;
        background-size: inherit;
        position: absolute;
        top: 58px;
        z-index: -5;
    }
    .header.row {
        min-height: 115px;
        background-size: 0;
        top: 58px;
    }
    .nav.placeholder {
        display: none;
    }
    .header_mobile.row {
        background-size: 80px;
        display: block;
    }
    .mainnav {
        margin: 10px;
    }
    .uppernav {
        display: none;
    }
    .mobilenav {
        display: block;
    }
    .mobilenav ul {
        padding-bottom: 10px;
    }
    .js nav[role=navigation] {
        display: none;
    }
    nav[role=navigation].active {
        display: block;
    }
    a.menu-link {
        display: block;
        background-size: 100% 100%;
        position: relative;
        z-index: 5;
        width: 100%;
        margin: -50px auto 0;
        padding: 2% 0;
        font-size: 1.5em;
        transition: all 0.3s ease-out;
    }
    a.menu-link.active {
        margin-bottom: 0;
    }
    .mobilenav .topnav {
        position: relative;
        z-index: 5;
        text-align: left;
        margin-top: 0;
    }
    .body.row {
        top: 144px;
        bottom: 12px;
    }
    .mids {
        margin: 81px auto 0;
    }
    .frame_u.row {
        height: 17px;
        min-width: 100%;
        max-width: 100%;
    }
    .frame_ul_corner.col {
        background: url('../images/BC_Web_WindowUL.png') top left no-repeat;
        background-size: 100%;
        min-width: 28px;
        max-width: 28px;
        height: 17px;
    }
    .frame_ur_corner.col {
        background: url('../images/BC_Web_WindowUR.png') top left no-repeat;
        background-size: 100%;
        min-width: 28px;
        max-width: 28px;
        height: 17px;
        right: 0;
    }
    .frame_u_bar_full.col,
    .frame_u_bar_half.col,
    .frame_u_bar_quarter.col,
    .frame_u_bar_threequarter.col {
        height: 12px;
        width: 96%;
        right: 14px;
        background: url('../images/BC_Web_WindowU.png') 0 repeat-x;
        background-size: 0.7%;
        z-index: -2;
        top: 4px;
        position: absolute;
    }
    .frame_content.row {
        height: calc(100% - 20px);
        top: -1px;
    }
    .frame_l_bar.col {
        height: 100%;
        background: url('../images/BC_Web_WindowL.png') left repeat-y;
        background-size: 100%;
        min-width: 13px;
        max-width: 13px;
    }
    .frame_center.col {
        height: 100%;
        width: calc(100% - 46px);
        color: black;
        padding: 15px 10px;
        background: url('../images/BC_App_9tile_C.png') top left repeat;
        text-align: left;
        float: left;
        left: 13px;
    }
    .frame_center_panel.col {
        height: 100%;
        width: calc(100% - 27px);
        color: black;
        padding: 0;
        background: url('../images/BC_App_9tile_C.png') top left repeat;
        text-align: left;
        float: left;
        left: 13px;
    }
    .frame_r_bar.col {
        height: 100%;
        background: url('../images/BC_Web_WindowR.png') left repeat-y;
        background-size: 100%;
        left: calc(100% - 13px);
        min-width: 13px;
        max-width: 13px;
    }
    .frame_b.row {
        height: 17px;
        min-width: 100%;
        max-width: 100%;
        top: -9px;
    }
    .frame_b_bar_full.col,
    .frame_b_bar_half.col,
    .frame_b_bar_quarter.col,
    .frame_b_bar_threequarter.col {
        height: 12px;
        width: calc(100% - 26px);
        right: 13px;
        background: url('../images/BC_Web_WindowB.png') 0 repeat-x;
        background-size: 0.7%;
        z-index: -2;
        top: 9px;
        position: absolute;
    }
    .frame_bl_corner.col {
        background: url('../images/BC_Web_WindowBL.png') bottom left no-repeat;
        background-size: 50%;
    }
    .frame_br_corner.col {
        right: 0;
        background: url('../images/BC_Web_WindowBR.png') bottom right no-repeat;
        background-size: 50%;
    }
    .site-footer h3 {
        margin: 10px 0;
        font-size: 0.9em;
    }
    .two_column_1 {
        width: 96%;
        padding: 2%;
        text-align: center;
    }
    .three_column_1 {
        width: 96%;
        padding: 2%;
        text-align: center;
    }
    .three_column_2 {
        width: 96%;
        padding: 2%;
        text-align: center;
    }
    .four_column_1 {
        width: 46%;
        padding: 2%;
        text-align: center;
    }
    .title_large {
        margin: -43px 0 0 10px;
    }
    .title_small {
        margin: -35px 0 0 10px;
    }
    .subfooter {
        width: 96%;
        padding: 2%;
        text-align: center;
    }
    #plaque2 {
        width: 100%;
    }
}
@media only screen and (min-width: 700px) and (max-width: 800px) {
    .header.row {
        min-height: 215px;
        top: -18px;
    }
    .logo {
        top: 74px;
    }
    .mids {
        margin: 12px auto 0;
    }
    .subfooter {
        width: 46%;
        padding: 2%;
        text-align: center;
    }
}
@media only screen and (max-width: 800px) {
    .half_content_left.col {
        width: 100%;
        margin-left: 0;
    }
    .half_content_right.col {
        width: 100%;
        margin-left: 0;
    }
    .nav.placeholder {
        display: none;
    }
    .topnav li {
        color: #43677A;
    }
    .topnav li a {
        color: #475C5C;
        text-shadow: 1px 1px rgba(255, 255, 255, 0.46);
    }
    .topnav li:hover {
        color: white;
		cursor: pointer;
    }
    .topnav li a:hover,
    .topnav li a:hover:visited {
        color: white;
        text-shadow: none !important;
    }
    .header_mobile.row {
        background-size: 80px;
        display: block;
    }
    .mainnav {
        margin: 10px;
    }
    .uppernav {
        display: none;
    }
    .mobilenav {
        display: block;
    }
    .mobilenav ul {
        padding-bottom: 10px;
    }
    .js nav[role=navigation] {
        display: none;
    }
    nav[role=navigation].active {
        display: block;
    }
    a.menu-link {
        display: block;
        background-size: 100% 100%;
        position: relative;
        z-index: 5;
        width: 100%;
        margin: -50px auto 0;
        padding: 2% 0;
        font-size: 1.5em;
        transition: all 0.3s ease-out;
    }
    a.menu-link.active {
        margin-bottom: 0;
    }
    .mobilenav .topnav {
        position: relative;
        z-index: 5;
        text-align: left;
        margin-top: 0;
    }
    .social-links iframe {
        width: 100% !important;
    }
    .half_content_left.col {
        width: 100%;
        margin: 10px 0 20px;
    }
    .half_content_right.col {
        width: 100%;
        margin-left: 0;
    }
    .indent {
        padding-left: 0;
    }
    .subfooter_filler {
        display: none;
    }
    .sub-footer {
        background: url("../images/BC_Footer_Full.png") no-repeat scroll center top / auto transparent;
    }
    .sub-footer h4 {
        text-align: center !important;
    }
    .side_by_side {
        min-height: 0;
    }
    .mobile-table {
        width: 100%;
        float: left;
    }
    /* Force table to not be like tables anymore */
    .mobile-table table,
    .mobile-table tbody,
    .mobile-table td,
    .mobile-table th,
    .mobile-table thead,
    .mobile-table tr {
        display: block;
        word-wrap: break-word;
        word-break: break-word;
        hyphens: auto;
        white-space: normal;
        text-overflow: ellipsis;
    }
    /* Hide table headers (but not display: none;, for accessibility) */
    .mobile-table thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    .mobile-table tr {
        border: 1px solid #ccc;
    }
    .mobile-table td {
        /* Behave  like a "row" */
        min-height: 30px;
        border: none;
        border-bottom: 1px solid #ABABAB;
        position: relative;
        padding-left: 50% !important;
        white-space: normal;
    }
    .mobile-table td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        font-weight: bold;
        padding: 4px;
    }
    /*
	Label the data
	*/
    .mobile-table td:before {
        content: attr(data-title);
    }
}
@media only screen and (min-width: 800px) and (max-width: 900px) {
    .header.row {
        min-height: 215px;
        top: -18px;
    }
    .logo {
        top: 74px;
    }
    .half_content_left.col {
        width: 100%;
        margin: 10px 0 20px;
    }
    .half_content_right.col {
        width: 100%;
        margin-left: 0;
    }
    .mids {
        margin: 12px auto 0;
    }
    .nav.placeholder {
        display: none;
    }
    .topnav li {
        color: #43677A;
    }
    .topnav li a {
        color: #475C5C;
        text-shadow: 1px 1px rgba(255, 255, 255, 0.46);
    }
    .topnav li:hover {
        color: white;
    }
    .topnav li a:hover,
    .topnav li a:hover:visited {
        color: white;
        text-shadow: none !important;
    }
    .header_mobile.row {
        background-size: 80px;
        display: block;
    }
    .topnav li a {
        width: 110px;
    }
    .uppernav {
        display: none;
    }
    .mobilenav {
        display: block;
    }
    .js nav[role=navigation] {
        display: none;
    }
    .mobilenav ul {
        padding-bottom: 10px;
    }
    .js nav[role=navigation] {
        display: none;
    }
    nav[role=navigation].active {
        display: block;
    }
    a.menu-link {
        display: block;
        background-size: 100% 100%;
        position: relative;
        z-index: 5;
        width: 100%;
        margin: -50px auto 0;
        padding: 2% 0;
        font-size: 1.5em;
        transition: all 0.3s ease-out;
    }
    a.menu-link.active {
        margin-bottom: 0;
    }
    .mobilenav .topnav {
        position: relative;
        z-index: 5;
        text-align: left;
        margin-top: 0;
    }
    .side_by_side {
        min-height: 0;
    }
}
@media only screen and (max-width: 1040px) {
    #plaque {
        display: none;
    }
}
@media only screen and (min-width: 900px) and (max-width: 1040px) {
    .topnav li a {
        width: 132px;
        height: 35px;
        position: relative;
        display: table-cell;
        vertical-align: middle;
    }
    .side_by_side {
        min-height: 460px;
    }
}
@media only screen and (min-width: 701px) and (max-width: 1040px) {
    .frame_u_bar_half.col {
        height: 24px;
        background: url('../images/BC_Web_WindowU.png') 0 repeat-x;
        z-index: -2;
        top: 2px;
        position: absolute;
    }
    .frame_b_bar_half.col {
        height: 24px;
        width: calc(100% - 40px);
        right: 20px;
        background: url('../images/BC_Web_WindowB.png') 0 repeat-x;
        z-index: -2;
        top: -3px;
        position: absolute;
    }
    .frame_u_bar_quarter.col {
        height: 34px;
        width: 95%;
    }
    .frame_b_bar_quarter.col {
        height: 34px;
        width: 95%;
    }
    .logo {}
    .nav.row {}
    .topnav {}
}
@media only screen and (max-width: 1041px) {
    .quarter_content.col {
        width: 100%;
        margin-bottom: 15px;
        margin-right: 0;
    }
    .threequarter_content.col {
        width: 100%;
        margin-left: 0;
    }
    .four_column_3 {
        width: 96%;
        padding: 2%;
        text-align: center;
    }
    .vid {
        height: auto;
        width: 100%;
        margin: 0;
    }
    .vid iframe,
    .vid img {
        height: auto;
        margin-bottom: 0;
    }
}
@media only screen and (min-width: 480px) and (max-width: 1192px) {
    .home_slide_small {
        margin-bottom: 60px;
    }
}
@media only screen and (max-width: 1192px) {
    .container_full_width_frames {
        width: 100%;
        height: auto;
        position: relative;
        margin: 0 auto 15px;
    }
    .container_full_width_table {
        width: 100%;
        height: auto;
        position: relative;
        margin: 0 auto 15px;
    }
    .container_full_width_alt {
        width: 100%;
        height: auto;
        color: rgb(239, 214, 79);
        position: relative;
        padding-bottom: 40px;
        margin: 0 auto;
        box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.5) inset;
        background: url('../images/BC_Web_tilebg_alt3.png') repeat;
        margin-bottom: 15px;
    }
    .sub-footer {
        min-height: 194px;
        display: table;
        width: 100%;
        background: url("../images/Footer_Tile.png") repeat scroll center top / auto transparent;
        padding-bottom: 10px;
    }
}
@media only screen and (min-width: 900px) and (max-width: 1280px) {
    .mids {
        margin: -20px auto 0;
    }
}
@media only screen and (max-width: 1280px) {
    .home_slide_big {
        display: none;
    }
    .home_slide_small {
        display: block;
    }
    .homepage_slideshow {
        height: 348px;
        max-width: 100%;
        max-height: 348px;
        margin: 0 auto;
        box-shadow: 0 0 4px 1px white;
    }
    .slides {
        cursor: move;
        max-width: 100%;
        height: 348px;
        overflow: hidden;
    }
}
@media only screen and (min-width: 1400px) {
    .site_bg {
        top: 15px;
    }
}
/* ---------------------  iPhones are weird  ------------------ */
/* ----------- iPhone 6 iPhone 5 and 5S ----------- */
/* Portrait and Landscape */
@media only screen and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {}
/* ----------- iPhone 6+ ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 668px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {}
/* all else */
@media only screen and (min-device-width: 737px) and (-webkit-min-device-pixel-ratio: 3) {}
