/* STORE MEDIA QUERIES */
@media (max-width: 480px) {
    .store-logo {
        margin: 0;
    }
    .product-col-3 {
        width: calc(100% - 10px);
        padding-right: 5px;
        padding-left: 5px;
    }
    .product-col-6 {
        width: calc(100% - 30px);
        padding-right: 15px;
        padding-left: 15px;
    }
    .product-col-9 {
        width: calc(100% - 10px);
        padding-right: 5px;
        padding-left: 5px;
        text-align: center;
    }
    .product-box {
        width: 100%;
        float: left;
        position: relative;
        min-height: 1px;
        padding-right: 0;
        padding-left: 0;
    }
    .btn-addtocart {
        width: 100%;
    }
    .btn-addtocart:active {
        width: calc(98% - 4px);
        margin: 2px 1% 7px;
        padding: 4px 10px;
    }
    .btn-remove {
        width: 100%;
    }
    .btn-remove:active {
        width: calc(98% - 4px);
        margin: 2px 1% 7px;
        padding: 4px 10px;
    }
    .btn-details {
        width: 100%;
    }
    .btn-details:active {
        width: calc(98% - 4px);
        margin: 2px 1% 7px;
        padding: 4px 10px;
    }
}
@media (max-width: 700px) and (min-width: 481px) {
    .store-logo {
        margin: 0;
    }
    .product-col-3 {
        width: calc(100% - 30px);
        padding-right: 15px;
        padding-left: 15px;
    }
    .product-col-9 {
        width: calc(100% - 30px);
        padding-right: 15px;
        padding-left: 15px;
        text-align: center;
    }
    .product-box {
        width: 100%;
        float: left;
        position: relative;
        min-height: 1px;
        padding-right: 0;
        padding-left: 0;
    }
}
@media (max-width: 862px) and (min-width: 701px) {
    .product .text {
        min-height: 220px;
    }
    .btn-addtocart {
        width: 100%;
    }
    .btn-addtocart:active {
        width: calc(98% - 4px);
        margin: 2px 1% 7px;
        padding: 4px 10px;
    }
    .btn-remove {
        width: 100%;
    }
    .btn-remove:active {
        width: calc(98% - 4px);
        margin: 2px 1% 7px;
        padding: 4px 10px;
    }
    .btn-details {
        width: 100%;
    }
    .btn-details:active {
        width: calc(98% - 4px);
        margin: 2px 1% 7px;
        padding: 4px 10px;
    }
}
@media (max-width: 901px) and (min-width: 701px) {
    .product-col-3 {
        width: calc(33.333333% - 20px);
        padding-right: 10px;
        padding-left: 10px;
    }
    .product-col-9 {
        width: calc(66.666666% - 20px);
        padding-right: 10px;
        padding-left: 10px;
    }
    .product-box {
        width: calc(50% - 20px);
        float: left;
        position: relative;
        min-height: 1px;
        padding-right: 10px;
        padding-left: 10px;
    }
    .single-product .btn-addtocart {
        width: 100%;
    }
    .single-product .btn-remove {
        width: 100%;
    }
    .single-product .btn-details {
        width: 100%;
    }
}
@media (max-width: 1340px) and (min-width:901px) {
    .product-box {
        width: calc(50% - 30px);
        float: left;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .single-product .btn-addtocart {
        width: 100%;
    }
    .single-product .btn-remove {
        width: 100%;
    }
    .single-product .btn-details {
        width: 100%;
    }
}
