<!DOCTYPE html>
<html>
  <head>
		<meta charset="utf-8" />
		<title>Battle-Comm | Store</title>
		<meta name=viewport content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="description" content="">
		<meta name="author" content="Battle-Comm">
		<meta name="keywords" content="battle-comm">

		<meta property="og:title" content="Battle-Comm | Store" />
		<meta property="og:url" content="http://www.Battle-Comm.net/store" />
		<meta property="og:image" content="http://www.Battle-Comm.net/images/branding/logo.png" />
		<meta property="og:site_name" content="Battle-Comm" />
		<meta property="og:description" content="" />
		<meta property="fb:app_id" content="282784895511182" />

		<!-- Favicon -->
		<link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192" href="/images/favicon/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
		<link rel="manifest" href="/images/favicon/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/images/favicon/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">

		<!-- Stylesheet -->
		<link rel="stylesheet" href="/css/style.css">
	</head>
  <body>
    <div id="main" class="view">{{{markup}}}</div>
		<script type="text/javascript" src="/js/modernizr.custom.28468.js"></script>
		<script>window.__PRELOADED_STATE__ = "{{state}}"</script>
    <script src="/js/app.js"></script>
		<script src="/js/facebookApp.js"></script>
  </body>
</html>
