@charset "utf-8";
#AdminNav {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	font-size: 10px;
	font-weight: bold;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
.editSpan {
	font-size: 10px;
	color: #039;
}
#newsWrapper   {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 15px;
	padding-bottom: 5px;
}
body {

}
