/* CSS Document */

#page-header {
	height: auto;
	padding: 50px 0 200px;
	background-color: #EEEEEE;
}
.btn {
	margin: 15px 0;
}
section > .container {
	padding-top: 60px;
	padding-bottom: 60px;
}
section.bg-grey {
	background-color:#EEEEEE;
}
.icon {
	border-radius: 50%;
	display: block;
	height: 175px;
	margin: 0 auto 50px;
	max-width: 100%;
	position: relative;
	text-align: center;
	vertical-align: middle;
	width: 175px;
	background: #428bca;
}
.icon .fa {
	color: #fff;
	font-size: 55px;
	line-height: 175px;
}
h2.content-title {
	margin-bottom:30px;
}
.item {
	margin-bottom:25px;
}
.item figure {
    position: relative;
    z-index: 5;
}
.item figure,.item figure img {
    width: 100%;
}
.item figure figcaption {
	position:absolute;
	bottom:0;
	width:100%;
	left:0;
	padding:4px 6px;
	background:rgba(255,255,255,0.80);
	bottom:0;
	opacity:0;
-webkit-transition:all 400ms ease;
-moz-transition:all 400ms ease;
-o-transition:all 400ms ease;
transition:all 400ms ease;
}
.item:hover figure figcaption {
	opacity:1;
}
form#form {
	margin-top:30px;
	margin-bottom:30px;
}
#page-footer {
	 background-color: #f5f5f5;
	 padding:20px 0 5px;
}