// Global Stylesheet for all Pages

html {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: Titillium Regular Upright;
	font: 12px sans-serif;
	font-size: 1rem;
	color: #ffffff;
	background: url('../images/BC_Web_tilebg.png') repeat #090d1c;
	margin: 0;
	padding: 0;
	height: 100%;
}

// Specific Elements (a, h1, h2, h3, buttons, etc.
h1 {
	width: 100%;
	float: left;
	font-family: Titillium Semibold;
	text-transform: uppercase;
	font-size: 2.4em;
	font-weight: 400;
	margin: 10px 0 18px;
	line-height: 1.7rem;
}

h2 {
	width: 100%;
	float: left;
	font-family: Titillium Semibold;
	font-size: 1.6em;
	font-weight: 400;
	padding: 2px 5px;
	margin: 15px 0;
	box-shadow: 0 0 2px 1px #929292;
	display: table;
	line-height: 1.7rem;
	box-sizing: border-box;
	border: 1px solid $darkblue;
    background: rgba(13, 68, 101, 0.67);

	a {
		float: right;
		color: $white;
		font-size: 1.2rem;
	}
}

h3 {
	width: 98%;
	float: left;
	font-family: Titillium Semibold;
	font-size: 1.2em;
	font-weight: 400;
	margin: 10px 0;
	line-height: 1.7rem;
	padding: 0 1%;
}

h4 {
	width: 98%;
	float: left;
	font-family: Titillium Regular Upright;
	font-size: 1.2em;
	font-weight: 400;
	margin: 10px 0;
	line-height: 1.4rem;
	padding: 0 1%;
}

h5 {
	width: 100%;
	float: left;
	font-family: Titillium Thin Upright;
	font-size: 1.6em;
	margin: 0;
	line-height: 2rem;
	padding: 5px;
}

a {
	color: $darkblue;
	font-weight: bold;
	text-shadow: 1px 1px rgba(68, 68, 68, 0.25);
	word-break: break-all;

	&:hover {
		text-shadow: 1px 1px 1px rgba(68, 68, 68, 0.5);
	}

	&:active {
		text-shadow: none;
	}
}

li {
	line-height: 1.35rem;

	a {
		color: $darkblue;
	}
}

.headerseo {
	white-space: nowrap;
	width: 98%;
	font-family: Titillium Semibold;
	font-size: 1.6em;
	padding: 0.2em 1% 0;
	margin: 0.2em 0;
	line-height: 1rem;
}

p {
	width: 100%;
	float: left;
	font-size: 1rem;
	margin: 10px 1%;
	display: block;
	word-wrap: break-word;
	word-break: break-word;
}

p.indent:before {
	content: 'eeeee';
	color: rgba(255, 255, 255, 0);
}

ol {
	width: 100%;
}

li {
	line-height: 1.2em;
}

img {
	max-width: 100%;
}

hr {
	margin-top: 5px;
	margin-bottom: 5px;
	float: left;
	width: 100%;
}

.bold {
	font-weight: bold;
}

.fill {
	width: 100%;
	float: left;
}

.image_constraint img {
	width: 100%;
	max-width: 300px;
}

blockquote {
	background: #632022;
	border-left: 10px solid #ccc;
	border-right: 10px solid #ccc;
	margin: 1.5em 10px;
	padding: 0.5em 10px;
	quotes: '\201C''\201D''\2018''\2019';
}

blockquote:before {
	color: #ccc;
	content: open-quote;
	font-size: 4em;
	line-height: 0.1rem;
	margin-right: 0.25em;
	vertical-align: -0.4em;
}

blockquote:after {
	color: #ccc;
	content: close-quote;
	font-size: 4em;
	line-height: 0.1rem;
	margin-left: 0.25em;
	vertical-align: -0.4em;
}

blockquote p {
	display: inline;
}

input {
	padding: 5px;
	font-family: sans-serif;
	text-align: center;
}

#search {
	width: 92%;
	height: 21px;
}

.vid {
	width: 96%;
	margin: 0 2%;
	height: 414px;
}

.vid iframe,
.vid img {
	height: 414px;
	max-width: 100%;
	display: block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5%;
}

.error {
	color: red;
}
/* Layouts & Image Styles*/
.col,
.row {
	position: relative;
}

.row {
	left: 0;
	right: 0;
}

.col {
	top: 0;
	bottom: 0;
}

.right {
	text-align: right;
}

.center {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	text-align: center;
}

.left {
	text-align: left;
}

#plaque {
	border: 5px solid #F5D56D;
}

#plaque2 {
	border: 10px solid white;
	float: right;
	max-width: calc(100% - 20px);
}

.wrapper {
	max-width: 90%;
	max-height: 90%;
	width: 100%;
	position: relative;
	margin-bottom: 25px;
}

.thumbnail {
	width: 100%;
	margin-bottom: 10px;
}

.thumbnail img {
	max-width: 240px;
	max-height: 150px;
}

.thumbnail_medium {
	max-width: 360px;
	max-height: 225px;
	width: 100%;
	margin-bottom: 10px;
}

.thumbnail_large {
	max-width: 480px;
	max-height: 300px;
	width: 100%;
	margin-bottom: 10px;
}

.wrapper_thumbnail {
	max-width: 240px;
	max-height: 150px;
	width: 100%;
	position: relative;
	/* important(so we can absolutely position the description div */
	margin-bottom: 25px;
}

.wrapper_thumbnail_medium {
	max-width: 360px;
	max-height: 225px;
	width: 100%;
	position: relative;
	/* important(so we can absolutely position the description div */
	margin-bottom: 25px;
}

.wrapper_thumbnail_large {
	max-width: 480px;
	max-height: 300px;
	width: 100%;
	position: relative;
	/* important(so we can absolutely position the description div */
	margin-bottom: 25px;
}

.description {
	position: absolute;
	/* absolute position (so we can position it where we want)*/
	bottom: 0;
	/* position will be on bottom */
	left: 0;
	width: 100%;
	background-color: black;
	font-family: 'tahoma';
	font-size: 15px;
	color: white;
	opacity: 0.6;
	/* transparency */
	filter:alpha(opacity=60);
	/* IE transparency */
}

p.description_content {
	padding: 10px;
	margin: 0;
}

.title_large {
	margin: -28px 0 0 40px;
}

.title_large img {
	max-height: 97px;
}

.title_small {
	margin: -28px 0 0 40px;
}

.title_small img {
	max-height: 92px;
}

.card_bullets {
	float: left;
	position: relative;
	width: 92%;
	margin: 2%;
	padding: 2% 0 2% 4%;
	text-align: left;
	border-radius: 7px;
	background: rgba(55, 85, 103, 0.16);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.72);
}

.card_nobullets {}

.container_full_width_table {
	width: 88%;
	height: auto;
	max-width: 1192px;
	position: relative;
	padding-bottom: 40px;
	margin: 0 auto;
	box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.5) inset;
	background: url('../images/Honeycomb_Default.png') repeat;
	margin-bottom: 38px;
	display: table;
}

.container_full_width_frames {
	width: 88%;
	height: auto;
	max-width: 1192px;
	display: table;
	position: relative;
	padding-bottom: 40px;
	margin: 0 auto;
	box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.5) inset;
	background: url('../images/BC_Web_tilebg_alt2.png') repeat;
	margin-bottom: 15px;
}

.container_full_width_alt {
	width: 88%;
	height: auto;
	max-width: 1192px;
	color: rgb(239, 214, 79);
	position: relative;
	padding-bottom: 40px;
	margin: 0 auto;
	box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.5) inset;
	background: url('../images/BC_Web_tilebg_alt3.png') repeat;
	margin-bottom: 15px;
}

.full_width {
	float: left;
	width: 98%;
	padding: 0 1%;
}

.full_width_spacer {
	height: 20px;
	float: left;
	width: 98%;
	padding: 10px 1%;
}

.full_width_slideshow {
	float: left;
	width: 100%;
	padding: 0;
}

.two_column_1 {
	width: 48%;
	float: left;
	padding: 0 1%;
}

.three_column_1 {
	width: 31.3333333%;
	float: left;
	padding: 0 1%;

	li {
		text-align: left;
	}
}

.three_column_2 {
	width: 64.6666666%;
	float: left;
	padding: 0 1%;
}

.four_column_1 {
	width: 23%;
	float: left;
	padding: 0 1%;
}

.four_column_3 {
	width: 73%;
	float: left;
	padding: 0 1%;
}

form.DetailsPage {
	width: auto;
}

.black_overlay {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 1001;
	opacity: 0.8;
	opacity: 0.80;
	filter: alpha(opacity=80);
}

.messageContainer {
	display: none;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1002;
	text-align: center;
	height: 100%;
	overflow: hidden;
}

.messageWrapper {
	position: absolute;
	top: 50%;
	display: table-cell;
	vertical-align: middle;
}

.messageContent {
	background-color: white;
	display: inline-block;
	padding: 16px;
	border: 16px solid grey;
	z-index: 1002;
	overflow: auto;
	margin: auto;
}


/* SIDE NAVIGATION & Dropdown List nav */
.mainnav {
	position: relative;
	z-index: 5;
	text-align: left;
	margin-top: 10px;
}

.mobilenav {
	display: none;
}

.mainnav ul {
	padding-left: 50px;
}

.mainnav li {
	font-size: 1.1rem;
	margin: 15px 0;
	list-style-type: none;
}

.mainnav li.a {
	text-transform: uppercase;
}

a.menu-link {
	display: none;
}

/* MIDDLE MIDDLE MIDDLE MIDDLE MIDDLE MIDDLE */
.mids {
	min-height: 100%;
	position: relative;
	float: left;
	width: 100%;
	margin: -10px auto 0;
}

/* FRAME HOLDERS */
.full_content.col {
	width: 100%;
	position: relative;
}

.threequarter_content.col {
	width: 74%;
	position: relative;
	float: left;
	margin-left: 1%;
}

.half_content_left.col {
	width: 49%;
	position: relative;
	float: left;
	margin-right: 1%;
}

.half_content_right.col {
	width: 49%;
	position: relative;
	float: left;
	margin-left: 1%;
}

.quarter_content.col {
	width: 24%;
	position: relative;
	float: left;
	margin-right: 1%;
}
/* VARIABLE FRAMES PIECES*/
.frame_u_bar_full.col {
	height: 24px;
	width: 96%;
	right: 18px;
	background: url('../images/BC_Web_WindowU.png') 0 repeat-x;
	z-index: -2;
	top: 4px;
	position: absolute;
}

.frame_b_bar_full.col {
	height: 35px;
	width: 96%;
	right: 18px;
	background: url('../images/BC_Web_WindowB.png') 0 repeat-x;
	z-index: -2;
	top: -9px;
	position: absolute;
}

.frame_u_bar_threequarter.col {
	height: 34px;
	width: calc(100% - 48px);
	right: 24px;
	background: url('../images/BC_Web_WindowU.png') 0 repeat-x;
	z-index: -2;
	top: -2px;
	position: absolute;
}

.frame_b_bar_threequarter.col {
	height: 34px;
	width: calc(100% - 48px);
	right: 24px;
	background: url('../images/BC_Web_WindowU.png') 0 repeat-x;
	z-index: -2;
	top: -8px;
	position: absolute;
}

.frame_u_bar_half.col {
	height: 34px;
	width: calc(100% - 48px);
	right: 24px;
	background: url('../images/BC_Web_WindowU.png') 0 repeat-x;
	z-index: -2;
	top: -2px;
	position: absolute;
}

.frame_b_bar_half.col {
	height: 35px;
	width: calc(100% - 40px);
	right: 20px;
	background: url('../images/BC_Web_WindowB.png') 0 repeat-x;
	z-index: -2;
	top: -8px;
	position: absolute;
}

.frame_u_bar_quarter.col {
	height: 34px;
	width: 83%;
	right: 18px;
	background: url('../images/BC_Web_WindowU.png') 0 repeat-x;
	z-index: -2;
	top: -2px;
	position: absolute;
}

.frame_b_bar_quarter.col {
	height: 35px;
	width: 83%;
	right: 18px;
	background: url('../images/BC_Web_WindowB.png') 0 repeat-x;
	z-index: -2;
	top: -8px;
	position: absolute;
}
/* STATIC FRAME PIECES*/
.frame_u.row {
	height: 24px;
	min-width: 100%;
	max-width: 100%;
	float: left;
	z-index: 1;
}

.frame_ul_corner.col {
	height: 24px;
	min-width: 40px;
	max-width: 40px;
	background: url('../images/BC_Web_WindowUL.png') top left no-repeat;
}

.frame_ur_corner.col {
	height: 24px;
	min-width: 40px;
	max-width: 40px;
	right: 0;
	background: url('../images/BC_Web_WindowUR.png') top right no-repeat;
	position: absolute;
}

.frame_content.row {
	height: calc(100% - 64px);
	min-width: 100%;
	max-width: 100%;
	float: left;
	display: table;
}

.frame_l_bar.col {
	height: 100%;
	min-width: 20px;
	max-width: 20px;
	background: url('../images/BC_Web_WindowL.png') left repeat-y;
	z-index: 2;
	float: left;
	position: absolute;
}

.frame_center.col {
	height: 100%;
	width: calc(100% - 60px);
	color: black;
	padding: 20px 10px;
	background: url('../images/BC_App_9tile_C.png') top left repeat;
	text-align: left;
	float: left;
	left: 20px;
}

.frame_center_panel.col {
	height: 100%;
	width: calc(100% - 40px);
	color: black;
	padding: 0;
	background: url('../images/BC_App_9tile_C.png') top left repeat;
	text-align: left;
	float: left;
	left: 20px;
}

.side_by_side {
	min-height: 378px;
}

.frame_r_bar.col {
	height: 100%;
	min-width: 20px;
	max-width: 20px;
	background: url('../images/BC_Web_WindowR.png') right repeat-y;
	z-index: 2;
	float: right;
	position: absolute;
	left: calc(100% - 20px);
}

.frame_b.row {
	height: 24px;
	min-width: 100%;
	max-width: 100%;
	float: left;
	bottom: 0;
	z-index: 2;
}

.frame_bl_corner.col {
	height: 24px;
	min-width: 57px;
	max-width: 57px;
	background: url('../images/BC_Web_WindowBL.png') bottom left no-repeat;
	position: absolute;
}

.frame_br_corner.col {
	height: 24px;
	min-width: 57px;
	max-width: 57px;
	right: 0;
	background: url('../images/BC_Web_WindowBR.png') bottom right no-repeat;
	position: absolute;
}
/* MODIFIERS */
.float_left {
	float: left;
}

.float_middle {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 100%;
}

.float_right {
	float: right;
}

.inline {
	display: inline;
	list-style-type: none;
}

.no_bullets {
	list-style-type: none;
}

.border {
	border: 1px solid white;
}

.shadow {
	box-shadow: 0 0 15px 3px rgba(255, 255, 255, .2);
}

.no_shadow {
	box-shadow: none;
}

.no_padding {
	padding: 0;
}

.no_margin {
	margin: 0;
}

.no_pad {
	padding-start: 0;
}

.no_background {
	background: none;
}

.border_bottom {
	border-bottom: 1px solid white;
}

/* ANGULARJS STYLING */
.note {
	background: red;
	padding: 2px;
	border: 1px solid white;
	margin-bottom: 20px;
}

#css-form input.ng-invalid.ng-touched {
	border: solid red 2px;
}

#css-form input.ng-valid.ng-touched {
	background-color: #78FA89;
}

.my-controller {
	border: 1px solid #fcc;
	padding: 5px;
	margin: 3px;
}

.my-controller small {
	color: #c99;
}

.other-controller {
	position: relative;
	float: left;
	width: 100%;
}

.other-controller small {
	color: #99c;
}

.third-controller {
	border: 1px solid #cfc;
	padding: 5px;
	margin: 3px;
}

.third-controller small {
	color: #9c9;
}

.pagination {
	display: inline-block;
	padding-left: 0;
	margin: 2px 0;
	border-radius: 4px;
}

.pagination > li {
	display: inline;
}

.pagination > li > a,
.pagination > li > span {
	position: relative;
	float: left;
	padding: 6px 12px;
	margin-left: -1px;
	line-height: 1.42857143;
	color: #278eca !important;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
	text-shadow: none !important;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
	margin-left: 0;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
	z-index: 3;
	color: #23527c;
	background-color: #eee;
	border-color: #ddd;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
	z-index: 2;
	color: #fff !important;
	cursor: default;
	background-color: #278eca;
	border-color: #278eca;
}

.pagination > .disabled > a,
.pagination > .disabled > a:focus,
.pagination > .disabled > a:hover,
.pagination > .disabled > span,
.pagination > .disabled > span:focus,
.pagination > .disabled > span:hover {
	color: #777;
	cursor: not-allowed;
	background-color: #fff;
	border-color: #ddd;
}
/*  NEWS  (AnuglarJS)*/
#news_controller {
	width: 100%;
	float: left;
	position: relative;
	display: table-cell;
	word-wrap: break-word;
}

#news_summary {
	width: 94%;
	padding: 1%;
	margin: 10px 2%;
	float: left;
	border-radius: 7px;
	background: rgba(11, 74, 113, 0.16);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.72);
}
/* CSS Document */
.view-container {
	position: relative;
}

.view-frame.ng-enter,
.view-frame.ng-leave {
	top: 0;
	left: 0;
	right: 0;
}

.view-frame.ng-enter {
	animation: 1s fade-in;
	z-index: 100;
}

#phoneOnly {
	color: transparent;
	text-shadow: none;
}
