/* BUTTONS */
.button {
		color: $white;
		background: #4b88b1;
		display: inline-block;
		text-align: center;
		white-space: nowrap;
		vertical-align: middle;
		cursor: pointer;
		border: 1px solid transparent;
		margin: 0 3px 4px 3px;
		font-weight: 400;
		font-family: Roboto, Helvetica, Arial, sans-serif;
		padding: 5px 12px;
		font-size: 14px;
		line-height: 1.42857143;
		border-radius: 3px;

		&:active {
			margin: 2px 3px 2px 3px;
		}

		@each $name, $color in $foundation-palette {
			&.#{$name} {
				background: $color;
				color: $white;

				&:hover {
					background: lighten($color, 6%);
					color: $white;
				}

				&:active,
				&:focus {
					background-color: lighten($color, 9%);
				}

				&.disabled,
				&:disabled {
					background: transparentize($color, 0.01);
					color: $white;
					cursor: disabled;
				}
			}
		}

		&.collapse {
			margin-bottom: 0;
		}

		&.button-full {
			width: 100%;
		    min-width: 101px;
		    color: $white;
		    background: #278ECA;
			display: inline-block;
		    text-align: center;
		    white-space: nowrap;
		    vertical-align: middle;
		    cursor: pointer;
		    border: 1px solid transparent;
		    margin-bottom: 5px;
		    font-weight: 400;
		    font-family: Roboto, Helvetica, Arial, sans-serif;
		    padding: 6px 12px;
		    font-size: 14px;
		    line-height: 1.42857143;
		    border-radius: 3px;

			&:active {
				width: 99%;
			    margin: 2px .5% 7px;
			    padding: 4px 10px;
			}
		}
}

.btn-group:hover > .dropdown-menu {
    display: block;
}
.product hr {
    border-width: 1px;
    border-style: solid;
    color: #0084AF;
    margin: 1px 0 0;
}
.panel hr {
    border-width: 1px;
    border-style: solid;
    color: #0084AF;
    margin: 7px 0 0;
}
.btn {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    margin-bottom: 5px;
    font-weight: 400;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 3px;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn-addtocart {
    width: calc(50% - 4px);
    min-width: 101px;
    color: $white;
    background: #278ECA;
}
.btn-addtocart:active {
    width: calc(48% - 4px);
    margin: 2px 1% 7px;
    padding: 4px 10px;
}
.btn-remove {
    width: calc(50% - 4px);
    min-width: 101px;
    color: $white;
    background: #863438;
}
.btn-remove:active {
    width: calc(48% - 4px);
    margin: 2px 1% 7px;
    padding: 4px 10px;
}
.btn-details {
    width: calc(50% - 4px);
    min-width: 101px;
    color: $white;
    background: #177F82;
}
.btn-details:active {
    width: calc(48% - 4px);
    margin: 2px 1% 7px;
    padding: 4px 10px;
}
.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
    border-radius: 0;
}
.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}
.btn-info.active,
.btn-info:active,
.btn-info:focus,
.btn-info:hover,
.open .dropdown-toggle.btn-info {
    color: #fff;
    background-color: #39b3d7;
    border-color: #269abc;
}
