/* BUTTONS */
[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

.btn-group:hover > .dropdown-menu {
    display: block;
}
.product hr {
    border-width: 1px;
    border-style: solid;
    color: #0084AF;
    margin: 1px 0 0;
}
.panel hr {
    border-width: 1px;
    border-style: solid;
    color: #0084AF;
    margin: 7px 0 0;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-bottom: 5px;
    font-weight: 400;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 3px;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn-addtocart {
    width: calc(50% - 4px);
    min-width: 101px;
    color: white;
    background: #278ECA;
}
.btn-addtocart:active {
    width: calc(48% - 4px);
    margin: 2px 1% 7px;
    padding: 4px 10px;
}
.btn-remove {
    width: calc(50% - 4px);
    min-width: 101px;
    color: white;
    background: #863438;
}
.btn-remove:active {
    width: calc(48% - 4px);
    margin: 2px 1% 7px;
    padding: 4px 10px;
}
.btn-details {
    width: calc(50% - 4px);
    min-width: 101px;
    color: white;
    background: #177F82;
}
.btn-details:active {
    width: calc(48% - 4px);
    margin: 2px 1% 7px;
    padding: 4px 10px;
}
.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
    border-radius: 0;
}
.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}
.btn-info.active,
.btn-info:active,
.btn-info:focus,
.btn-info:hover,
.open .dropdown-toggle.btn-info {
    color: #fff;
    background-color: #39b3d7;
    border-color: #269abc;
}
