.chat-box {
	display: flex;
    background: none repeat scroll 0 0 #278eca;
    border-radius: 50%;
	left: 5px;
    bottom: 5px;
	justify-content: center;
	align-items: center;
    height: 50px;
    width: 50px;
    line-height: 50px;
    position: fixed;
    right: 5px;
    text-align: center;
    text-decoration: none;
    z-index: 60;
    color: #fff;
    box-shadow: 0 0 2px 4px rgba(13,13,13,0.4);

	&.active {
		box-shadow: $box-shadow-1;
	}

	&:hover {
		box-shadow: 0 0 2px 2px rgba(13,13,13,0.4);
	}

	&:active {
		background: none repeat scroll 0 0 rgba(39, 142, 202, 0.9);
	    box-shadow: 0 0 1px 1px rgba(13,13,13,0.4);
	}

	.fa {
		font-size: 1.8rem;
	}

	.box {
		text-align: left;
		line-height: 24px;
	    color: $black;
	    padding: 5px;
		position: fixed;
		height: 350px;
		width: 320px;
		max-height: 350px;
		background: $white;
		z-index: 50;
		bottom: 15px;
		left: 64px;
		box-shadow: $box-shadow-1;
		border: 3px solid $info;
		border-radius: 5px;
		display: flex;
		flex-direction: column;

		@media screen and (max-width: 480px) {
			top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
		    max-height: none;
		    box-sizing: border-box;
		}

		.header {
			text-align: center;
			border-bottom: 1px solid #dcdcdc;
			margin-bottom: 5px;
			font-weight: bold;
			letter-spacing: .1rem;
			display: flex;
			flex-direction: row;

			.title {
				flex-grow: 1;
			}

			.fa {
				float: right;
    			font-size: 1.25rem;
			}
		}
		.messages {
			height: 100%;
			font-size: .8rem;
			overflow-y: auto;
			.message {
				.username {
					font-size: .9rem;
				}

				&:nth-child(even) {
					background: rgba(58,58,58,0.1);
				}
			}
		}

		.send {
			display: flex;
			margin-top: 4px;
    		height: 38px;

			button {
				margin: 0 0 0 3px;

				&:active {
					margin: 0 0 0 3px;
				}
			}
		}
	}
}
