/* Tables */
table {
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0 0 20px;
    padding: 0;
    width: calc(100% - 2px);
    width: -webkit-calc(100% - 2px);
    width: -moz-calc(100% - 2px);
    width: -o-calc(100% - 2px);
    box-shadow: 1px 1px 6px 2px rgba(80, 66, 78, 0.43);
    border: 1px solid #eee;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    height: 100%;
    text-align: center;
}
td,
th {
    border: 1px solid transparent;
    transition: all 0.05s;
    -webkit-transition: all 0.05s;
    -moz-transition: all 0.05s;
    -o-transition: all 0.05s;
    padding: 5px;
}
th {
    background: #DFDFDF;
    font-weight: normal;
}
td {
    background: #FAFAFA;
}
tr:nth-child(even) td {
    background: #F1F1F1;
}
tr:nth-child(odd) td {
    background: #FEFEFE;
}
tr:first-child {
    border-bottom: 2px solid black;
}
th:first-child {
    font-weight: 600;
}
tr td:hover {
    background: #F7F03E;
}

.button-link {
    color: #fff;
    background-color: #3885B1;
    color: #ffffff;
    font-size: 13px;
    font-weight: bold;
    border-radius: 4px;
    text-transform: uppercase;
    margin: 10px;
    border: none;
    padding: 10px 18px;
    box-shadow: 0 0 2px 1px #ADCDEA;
}
.button-link:hover {
    border-color: black;
    background: white;
    color: #0078e7;
    cursor: pointer;
}
.button-link:active {
    padding: 9px 16px;
    margin: 11px 14px;
}
.button-link-reverse {
    min-width: 150px;
    color: #fff;
    background-color: white;
    color: #0078e7;
    font-size: 13px;
    font-weight: bold;
    border-radius: 4px;
    text-transform: uppercase;
    margin: 10px;
    border: none;
    padding: 7px 10px;
    box-shadow: 0 0 2px 1px #ADCDEA;
}
.button-link-reverse:hover {
    border-color: black;
    background: #278eca;
    color: white;
    cursor: pointer;
}
.newsletter {
    margin-left: auto;
    margin-right: auto;
}
.subscribe {
    max-width: 86%;
    min-width: 84%;
    position: static;
    margin-left: 7%;
    margin-top: 5%;
    margin-bottom: 8%;
    padding: 5px;
    background: rgba(99, 32, 34, .1);
    border-radius: 20px;
    box-shadow: 0 0 10px 1px;
}
.info {
    border: 2px solid rgba(167, 112, 112, 0.28);
    background-color: rgba(255, 255, 246, 0.75);
    border-radius: 5px;
    padding: 7px;
    box-shadow: 1px 1px 6px 2px rgba(80, 66, 78, 0.43);
    text-align: center;
}

/* Forms */
.form-group {
	margin-bottom: 15px;
	float: left;
	width: 100%;

	label {
		padding: 0 20px 4px 10px;
		display: inline-block;
	}

	input,
	select {
	    width: 100%;
	    border: 1px solid rgba(0, 0, 0, .25);
	    border-left-width: 12px !important;
	    background-color: #f8f8f8;
	    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.16);
	    border-radius: 2px;
	    box-sizing: border-box;
	}

	button {
		&[type='submit'] {
		    background-color: #278eca;
		    color: #ffffff;
		    font-size: 13px;
		    font-weight: bold;
		    border-radius: 4px;
		    text-transform: uppercase;
		    border: none;
		    padding: 14px 30px;
		    background-image: linear-gradient(to top,#4d90fe,#4787ed);

			&:hover {
				border-color: black;
			    background: white;
			    color: #0078e7;
			    cursor: pointer;
			}
		}
	}
}

.gold-label {
	font-size: 1.8em;
	color: gold;
	float: left;
	text-shadow: 1px 1px 5px black;
}

input {
	transition: all 250ms;

	&[type='email'],
	&[type='number'],
	&[type='password'],
	&[type='text'],
	&[type='url'] {
		width: 100%;
	    padding: 0.5em 0.6em;
	    display: inline-block;
	    border: 1px solid #ccc;
	    box-shadow: inset 0 1px 3px #ddd;
	    border-radius: 4px;
	    vertical-align: middle;
	    box-sizing: border-box;
	    text-align: left;
	}

	&[type='button'] {
	    background-color: rgb(52, 124, 165);
	    color: #fff;
	    font-family: inherit;
	    font-size: 100%;
	    padding: 0.5em 1em;
	    border: 1px solid #999;
	    border: 0 rgba(0,0,0,0);
	    text-decoration: none;
	    border-radius: 4px;
	    margin-top: 28px;
	    margin-bottom: 5px;
	    box-shadow: 0 0 2px 1px #ADCDEA;

		&:hover {
		    border-color: black;
		    background: white;
		    color: #0078e7;
		    cursor: pointer;
		}

		&:active {
		    box-shadow: none;
		    background: white;
		    color: #0078e7;
		    text-align: center;
		}
	}

	&[type='submit'] {
	    background-color: #278eca;
	    color: #fff;
	    font-family: inherit;
	    font-size: 100%;
	    padding: 0.5em 1em;
	    border: 1px solid #999;
	    border: 0 rgba(0,0,0,0);
	    text-decoration: none;
	    border-radius: 4px;
	    margin-top: 10px;
	    margin-bottom: 5px;
	    box-shadow: 0 0 2px 1px #ADCDEA;

		&:active {
		    box-shadow: none;
		    background: white;
		    color: #0078e7;
		}

		&:hover {
		    border-color: black;
		    background: white;
		    color: #0078e7;
		    cursor: pointer;
		}
	}

	&:not([type]),
	&[type="color"],
	&[type="date"],
	&[type="datetime"],
	&[type="datetime-local"],
	&[type="email"],
	&[type="email"],
	&[type="month"],
	&[type="number"],
	&[type="password"],
	&[type="search"],
	&[type="tel"],
	&[type="text"],
	&[type="time"],
	&[type="url"],
	&[type="week"] {
		&:disabled {
			background-color: rgb(235, 235, 228);
		    box-shadow: none;
		    background: none;
		    border: none;
		    font-weight: bold;
		    transition: all 250ms;
			font-size: .9rem;
			margin-left: 5px;
		}
	}
}

button:disabled {
    opacity: 0.7;
    border: 1px solid gray;
}

textarea {
    width: 100%;
    padding: 0.5em 0.6em;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    vertical-align: middle;
    box-sizing: border-box;
    margin-bottom: 10px;
    text-align: left;
    min-height: 100px;

	&:disabled {
	    background-color: rgb(235, 235, 228);
	    box-shadow: none;
	    background: none;
	    border: none;
	    font-weight: bold;
	    transition: all 250ms;
		font-size: .9rem;
		margin-left: 5px;
	}
}

select {
    display: inline-block;
    height: 30px;
    margin: 0;
    background: #fff;
    font-size: 13px;
    color: #404040;
    margin-bottom: 10px;
	width: 100%;
	border: 1px solid rgba(0, 0, 0, .25);
	border-left-width: 12px !important;
	background-color: #f8f8f8;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.16);
	border-radius: 2px;
	box-sizing: border-box;

	&:disabled {
	    background-color: rgb(235, 235, 228);
	    box-shadow: none;
	    background: none;
	    border: none;
	    font-weight: bold;
	    transition: all 250ms;
		font-size: .9rem;
		margin-left: 5px;
	}
}

fieldset {
    border: 1px solid white;
    border-radius: 0.6em;
    margin: 1em 0;
    padding: 0.5em 1em;
    min-width: 1%;
}

/* Stylesheet for all user edit buttons and functionality */

.editable {
	padding: 10px;
	border-radius: 5px;
	border: 1px solid rgba(255,255,255,0.45);
	background: rgba(212,212,212,0.27);
	width: 98%;
	box-sizing: border-box;
	margin: 1%;

	ul {
		li {
			padding-bottom: 5px;
		}
	}
}
