.search-results {
	border: none;
	box-shadow: none;
	text-align: left;

	tr {
		
		&:nth-child(even) {
			background: transparent;
		}

		&:nth-child(odd) {
			background: rgba(254, 254, 254, 0.15);
		}

		&:first-child {
			background: transparent;
		}


		td {
			img {
				width: 35px;
				height: 35px;
			}
		}

		&:hover {
			cursor: pointer;
			background: rgba(136, 136, 136, 0.25);
		}

		@media screen and (max-width: 480px) {
			display: block;

			td {
				display: block;
			}

			&:first-child {
				display: none
			}
		}
	}

	th {
		font-weight: 800;
		background: transparent;
	}

	td {
		background: transparent;
	}
}
