.homepage_slideshow {
	height: 348px;
	width: 1152px;
	max-width: 1152px;
	max-height: 348px;
	margin: 0 auto;
}

.homepage_slideshow2 {
	height: 348px;
	width: 1152px;
	max-width: 1152px;
	max-height: 348px;
	margin: 0 auto;
}

.slides {
	cursor: move;
	width: 1152px;
	height: 348px;
	overflow: hidden;
}

.home_slide_small {
	display: none;
	margin-bottom: 60px;
}


.jssora21l,
.jssora21r {
	display: block;
	position: absolute;
	/* size of arrow element */
	width: 55px;
	height: 55px;
	cursor: pointer;
	background: url("../images/slideshow/a21.png") center center no-repeat;
	overflow: hidden;
}

.jssora21l {
	background-position: -3px -33px;
	top: 123px;
	left: 8px;
}

.jssora21r {
	background-position: -63px -33px;
	top: 123px;
	right: 8px;
}

.jssora21l:hover {
	background-position: -123px -33px;
}

.jssora21r:hover {
	background-position: -183px -33px;
}

.jssora21l.jssora21ldn {
	background-position: -243px -33px;
}

.jssora21r.jssora21rdn {
	background-position: -303px -33px;
}

.jssorb21 {
	position: absolute;
	bottom: 26px;
	left: 6px;
}

.jssorb21 .av,
.jssorb21 div,
.jssorb21 div:hover {
	position: absolute;
	/* size of bullet elment */
	width: 19px;
	height: 19px;
	text-align: center;
	line-height: 19px;
	color: white;
	font-size: 12px;
	background: url("../images/slideshow/b21.png") no-repeat;
	overflow: hidden;
	cursor: pointer;
}

.jssorb21 div {
	background-position: -5px -5px;
}

.jssorb21 .av:hover,
.jssorb21 div:hover {
	background-position: -35px -5px;
}

.jssorb21 .av {
	background-position: -65px -5px;
}

.jssorb21 .dn,
.jssorb21 .dn:hover {
	background-position: -95px -5px;
}
