.user-nav {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;

	.nav-item {
		padding: 9px 10px;
	    margin: 0 4px 5px;
	    background: transparent;
	    border: 2px solid #166d71;
	    text-decoration: none;
	    text-shadow: none;
	    font-weight: bold;
	    color: #166d71;
	    border-radius: 3px;
		box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.25);

		&:hover {
			box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.20);
		}

		&:active {
			box-shadow: none;
		}

		@media screen and (max-width: 700px) {
			width: 100%;
		}
	}

	span {
		@media screen and (max-width: 700px) {
			width: 100%;
		}
	}
}
