/* VALIDATION */
.required {
    &::before {
        content: '*';
        color: #e43838;
        padding-right: 3px;
    }
}

input, textarea, select {
    &.ng-touched {
        &.ng-invalid {
            border: 1px solid #e43838;
        }

        &.ng-valid {
            border: 1px solid #71c592;
        }
    }
}
input {
    transition: all 250ms;
}
input:not([type]):disabled,
input[type="color"]:disabled,
input[type="date"]:disabled,
input[type="datetime"]:disabled,
input[type="datetime-local"]:disabled,
input[type="email"]:disabled,
input[type="email"]:disabled,
input[type="month"]:disabled,
input[type="number"]:disabled,
input[type="password"]:disabled,
input[type="search"]:disabled,
input[type="tel"]:disabled,
input[type="text"]:disabled,
input[type="time"]:disabled,
input[type="url"]:disabled,
input[type="week"]:disabled,
select:disabled,
textarea:disabled {
    background-color: rgb(235, 235, 228);
    box-shadow: none;
    background: none;
    border: none;
    font-weight: bold;
    transition: all 250ms;
}

button:disabled {
    opacity: 0.7;
    border: 1px solid gray;
}

.green {
    background: #B1FFB1 !important;
}
.blue {
    background: #B9C5FF !important;
}
.red {
    background: #FFD2D2 !important;
}
