.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.flex-row-center {
	float: left;
	width: 100%;
	display: flex;
    align-items: center;
    justify-content: center;
	flex-direction: row;
}
.flex-col-center {
	float: left;
	width: 100%;
	display: flex;
    align-items: center;
    justify-content: center;
	flex-direction: column;
}

// Margins
// push-top, push-right, push-bottom, push-left
$sides: 'top', 'right', 'bottom', 'left';
@each $side in $sides {
	.push-#{$side} {
		margin-#{$side}: 10px;
		@for $i from 2 through 10 {
			&-#{$i}x {
				margin-#{$side}: #{$i}0px;
			}
		}
	}
}
